.calculator-template {
    display: none;
  }

.calculator {
    background-color: var(--bg-color);
    width: fit-content;
    height: fit-content;
    max-width: calc(80 * var(--vps));
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: none;
}
  
.input {
    box-shadow: 
    calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight),
    calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow),
    0 0 0 calc(1 * var(--vps)) var(--bg-color),
    calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight) inset,
    calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow) inset;
    height: calc(18 * var(--vps));
    padding-right: calc(3 * var(--vps));
    padding-top: calc(2 * var(--vps));
    text-align: right;
    background-color: var(--blue3);
    margin: var(--vps) var(--vps);
    font-size: var(--font-size-large);
    color: var(--text-white);
    overflow-x: auto;
    cursor: none;
}


  
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    cursor: none;
}

.operators, .numbers {
    display: contents; 
}
  
.operators div, .numbers div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    box-shadow: 
    calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight),
    calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow),
    0 0 0 calc(1 * var(--vps)) var(--bg-color); 
    height: calc(18 * var(--vps));
    width: calc(18 * var(--vps));
    text-align: center;
    font-size: var(--font-size-large);
    padding: calc(3 * var(--vps));
    margin: var(--vps) var(--vps) var(--vps) var(--vps);
    cursor: pointer;
    background-color: var(--bg-color);
    transition: all .1s ease-in-out;
    cursor: none;
}
  
.operators div:hover, .numbers div:hover {
    background-color: var(--bg-color-hover);
    cursor: none;
}

div.equal:hover {
    background-color: var(--orange2);
    cursor: none;
}

  
.operators div:active, div.equal:active, .numbers div:active {
    box-shadow: none;
    cursor: none;
}
  
.leftPanel {
    display: inline-block;
}
  
div.equal {
    grid-row: 2 / 6; 
    grid-column: 4; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
    calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight),
    calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow),
    0 0 0 calc(1 * var(--vps)) var(--bg-color); 
    text-align: center;
    font-size: var(--font-size-large);
    vertical-align: top;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--orange1);
    transition: all .1s ease-in-out;
    margin: var(--vps)
}
  
  
