@import 'analog-clock.css';





.window-content.clock-dashboard {
    /* display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    padding: 20px; */

    position: relative;
    width: 30vh;
    height: 30vh;
}