#cursor {
    background-image: url('./Icons/Souris.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 50px;
    pointer-events: none;
    z-index: 10000;
}


@keyframes cursorAnimation {
    0% { transform: translate(-50%, -50%) scale(1.2); opacity: 1; }
    100% { transform: translate(-50%, -50%) scale(1.25); opacity: 1; }
}

.disable-interaction * {
    pointer-events: none;
}