/* Réinitialisation et configuration générale */
.desktop-icon,
.desktop-icon-container,
.desktop-icon-label,
.desktop-icon-placeholder {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}


/* Configuration du bureau */
.desktop {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: calc(11 * var(--vps));
}

/* Configuration du conteneur d'icône */
.desktop-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: calc(30 * var(--vps));
  height: calc(36 * var(--vps));
  z-index: 1;
  cursor: none;
}

.desktop-icon-container[data-moved='true'] {
  grid-column: auto;
  grid-row: auto;
}

.desktop-icon-container[data-recyclable="true"] {
  pointer-events: none;
  opacity: 0;
}

.desktop-icon-container.placeholder {
  display: none;
}

.desktop-icon-container.selected {
  background-color: rgba(0, 128, 255, 0.2);
}

/* Configuration de l'icône */
.desktop-icon {
  position: relative;
  width: calc(24 * var(--vps));
  height: calc(24 * var(--vps));
  cursor: none;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between; 
  z-index: 1;
}

.desktop-icon-image {
  width: 100%;
  height: 100%;
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  z-index: 1;
}

.icon-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.desktop-icon-label,
.desktop-icon p {
  text-align: center;
  width: auto;
  font-family: 'VT323', monospace;
  z-index: 1;
}

.desktop-icon-label {
  width: 100%; 
  white-space: nowrap; 
  text-align: center;
  font-size: var(--font-size-large);
  font-family: 'VT323', monospace;
  z-index: 1;
  color: white ;
}


.desktop-icon-placeholder {
  width: 100%;
  height: 100%;
  visibility: hidden;
}


