#jeu .window-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    overflow: auto; /* Ajouté pour permettre le défilement si nécessaire */
}

#minefield {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(10, 1fr); 
    width: fit-content; 
    height: fit-content; 
    gap: calc(2 * var(--vps));
    margin: var(--vps) var(--vps) var(--vps) var(--vps);
    padding: var(--vps);
    border: calc(0.5 * var(--vps)) solid var(--bg-color-hover);
}

.minefield-cell {
    background-color: var(--bg-color);
    box-shadow: 
    calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight),
    calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow),
    0 0 0 calc(1 * var(--vps)) var(--bg-color); 
    text-align: center;
    font-size: var(--font-size-large);
    cursor: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(5 * var(--vps));
    height: calc(5 * var(--vps));

}

.minefield-cell:hover {
    background-color: var(--bg-color-hover); /* Couleur de fond légèrement plus foncée lors du survol */
}

.minefield-cell.revealed {
    outline: calc(0.5 * var(--vps)) solid var(--bg-color-hover); /* C'est votre bordure */
    outline-offset: calc(0.5 * var(--vps)); /* C'est la distance entre l'élément et la bordure */
    box-shadow: none;
    margin: 0; 

}

.minefield-cell.revealed:hover {
    background-color: var(--bg-color); /* Couleur de fond légèrement plus foncée lors du survol */
}


#status-bar {
    box-shadow: var(--contour-in);
    height: calc(14 * var(--vps));
    margin: var(--vps) var(--vps) var(--vps) var(--vps);
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center;
}

#timer {
    font-size: var(--font-size-large);
    color: var(--text-color);
    width: calc(30 * var(--vps)); 
    text-align: center; 
    box-shadow: var(--contour-out);
    padding: calc(1 * var(--vps));
    justify-self: center;
}

#mine-count {
    display: flex;
    font-size: var(--font-size-large);
    color: var(--red2);
    width: calc(10 * var(--vps)); 
    height: calc(10 * var(--vps)); 
    justify-content: center;
    align-items: center;
    box-shadow: var(--contour-out);
    margin-right: calc(3 * var(--vps));
}




#reset-button {
    background-color: var(--bg-color);
    border: none;
    cursor: pointer;
    width: calc(10 * var(--vps)); 
    height: calc(10 * var(--vps)); 
    box-shadow: var(--contour-out);
    margin-left: calc(3 * var(--vps));
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in-out;
}

#reset-button img {
    width: 90%; 
    height: auto;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    transition: all .1s ease-in-out;
}

#reset-button:active img {
    width: 80%; 
    height: auto;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

#reset-button:hover {
    background-color: var(--bg-color-hover);
}

#reset-button:active {
    box-shadow: none;
}



#flagged {
    display: flex;
}

.minefield-cell.flagged {
    background-image: url('./KaboomCraze/Flag.png');
    background-size: cover;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.minefield-cell.bombed {
    background-image: url('./KaboomCraze/Mine.png'); 
    background-size: cover;
    background-color: var(--red2); 
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: var(--contour-out);
    padding: calc(5 * var(--vps));;
    max-width: calc(150 * var(--vps));;
    width: fit-content;
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: var(--font-size-large);
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
}


#left-side {
    box-shadow: var(--contour-out);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(5 * var(--vps));
    margin-right: calc(5 * var(--vps));
}


#right-side {
    padding: calc(5 * var(--vps));
    box-shadow: var(--contour-out);
}




#restart-button, #submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    box-shadow: var(--contour-out);
    text-align: center;
    font-size: var(--font-size-large);
    cursor: pointer;
    background-color: var(--bg-color);
    transition: all .1s ease-in-out;
    cursor: none;
    margin: var(--vps);
    height: calc(12 * var(--vps));
    width: calc(25 * var(--vps));
    font-family: 'VT323', monospace;
    border: none;
}


#restart-button:hover, #submit-button:hover {
    background-color: var(--bg-color-hover);
    cursor: none;
}

#restart-button:active, #submit-button:active {
    box-shadow: none;
    cursor: none;
}


#player-name-input {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-size-large);
    font-family: 'VT323', monospace;
    margin-top: calc(10 * var(--vps));
    margin-bottom: calc(5 * var(--vps));
    box-shadow: var(--contour-in);
    padding: calc(2 * var(--vps));
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#submit-button:hover {
    background-color: var(--bg-color-hover);
}

.classement {

    text-align: center;
    font-size: var(--font-size-large);
    font-weight: normal;
}

#leaderboard-list {
    list-style-type: none;
    height: calc(50 * var(--vps));
    overflow-y: auto;
    padding: calc(5 * var(--vps));
    margin-top: calc(5 * var(--vps));
    box-shadow: var(--contour-in);
    width: calc(50 * var(--vps));;
}

#leaderboard-list .inner-container {
    margin-bottom: calc(5 * var(--vps)); 
    height: calc(50 * var(--vps));
    overflow-y: auto;
}


#leaderboard-list li {
    display: flex;
    justify-content: space-between;
}


.hidden {
    display: none;
}

#leaderboard-list::-webkit-scrollbar {
    width: calc(2 * var(--vps)); 
}

#leaderboard-list::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color); 
}

#leaderboard-list::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); 
}

#left-side p, #left-side #restart-button {
    text-align: center;
}

#leaderboard-list .highlight {
    background-color: rgb(110, 110, 110); 
}

#submit-button:disabled {
    background-color: #555;
    color: #ccc;
    cursor: none;
}