.navbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(20 * var(--vps));
  background-color: var(--bg-color);
  z-index: 50;
  padding-top: calc(1 * var(--vps));
  padding-bottom: calc(3 * var(--vps));
}

.left-section {
  display: flex;
  align-items: stretch;
  margin-left: calc(2 * var(--vps));
}

.right-section {
  display: flex;
  align-items: stretch;
  margin-right: calc(2 * var(--vps));
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 99999;
  margin-right: auto;
}

.dropbtn {
  appearance: none;
  background: var(--bg-color);
  color: #000;
  padding: calc(2 * var(--vps));
  font-family: 'VT323', monospace;
  font-size: var(--font-size-large);
  border: none;
  cursor: none;
}

.principal {
  width: calc(55 * var(--vps));
}

.overflow-btn {
width: calc(12 * var(--vps));
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: 100%;
  background-color: var(--bg-color);
  width: 100%;
  z-index: 99999;
  cursor: none;
  font-family: 'VT323', monospace;
  font-size: var(--font-size-large);
}

.dropdown-content a {
  color: var(--text-color);
  padding: calc(3 * var(--vps)) calc(4 * var(--vps));
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  width: fit-content;
  display: block;
}

.navbar-separator {
  display: inline-block;
  height: 90%;
  width: calc(1 * var(--vps));
  margin: calc(2 * var(--vps)) calc(2 * var(--vps)) 0 calc(2 * var(--vps));
  align-self: stretch;
  box-shadow: 
    calc(-1 * var(--vps)) 0 0 0 var(--highlight),
    calc(1 * var(--vps)) 0 0 0 var(--shadow);
}

.minimized-window-container {
  display: flex;
  align-items: bottom;
  gap: calc(2 * var(--vps));
  margin-right: auto;
}

.navbar .minimized-window {
  justify-content: flex-start;
}


.minimized-window img {
  width: calc(7 * var(--vps));
  height: calc(7 * var(--vps));
  margin-right: calc(1 * var(--vps));
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}



.clock-btn {
  background: var(--bg-color);
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(35 * var(--vps));
}

.clock {
  font-family: 'VT323', monospace;
  font-size: var(--font-size-large);
  color: var(--text-color);
  border-radius: calc(1 * var(--vps));
}

.language-dropdown button {
  height: 100%;
  width: calc(18 * var(--vps));
  display: flex;
  align-items: center;
}

.language-options {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  font-size: var(--font-size-large);
  z-index: 9999;
}

.language, .language-options a {
  font-size: var(--font-size-large);
}

.navbar button, .navbar .dropbtn, .navbar .clock-btn, .navbar button, .minimized-window {
  appearance: none;
  background: var(--bg-color);
  color: var(--text-color);

  border: none;
  cursor: pointer;
  font-family: 'VT323', monospace;
  font-size: var(--font-size-large);
  padding: calc(1 * var(--vps)) calc(2 * var(--vps));
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 
    calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight),
    calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow),
    0 0 0 calc(1 * var(--vps)) var(--bg-color);
  margin: calc(1 * var(--vps));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.minimized-window {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: calc(60 * var(--vps));
}

.hoverable-button:hover {
  background-color: var(--bg-color-hover);
}

.hoverable-button:active {
  background-color: var(--shadow);
}

.navbar .dropdown-content a:hover {
  background-color: var(--bg-color-hover);
}

#minimized-windows-overflow {
  display: none;  
  margin-left: calc(2 * var(--vps)); 
  margin-right: calc(2 * var(--vps));
}

.minimized-overflow-options a {
  display: block;
  padding: calc(2 * var(--vps));
  text-decoration: none;
  color: var(--text-color);
}



