/* Réinitialisation générale des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: none;
}

/* Variables CSS globales pour la personnalisation des thèmes et des tailles */
:root {
  --bg-color: #D9D6CE;
  --bg-color-hover: #C3C1B9;
  --highlight:rgba(255,255,255,0.8);
  --shadow: rgba(0,0,0,0.45);  
  --semi-transparent: rgba(247, 244, 248, 0.5);
  --desktop-text-color: white;
  --text-color: black;
  --text-white: white;
  --link-color: rgb(255, 255, 255);
  --border-color: #fff;
  --border-color-int: #c3c3c3;
  --gray1: #4B4D4F;
  --gray2: #85898D;
  --orange1: #FFA400;
  --orange2: #FF8900;
  --blue1: #AFC3DD;
  --blue2: #5A74A3;
  --blue3: #3F5270;
  --green3: #33A143;
  --red2: #EC2939;
  --brightblue1: #1E8FFF;
  --pink1: #ff69b3;
  --pink2: #9300d2;
  --beige2: #d1b38b;

  --gradient: linear-gradient(to right, #6D91A9, #83AFA1 );
  --gradient-inactive: linear-gradient(to right, #B0B0B0, #D0D0D0);

  --font-size-large: calc(9 * var(--vps));
  --font-size-medium: calc(6 * var(--vps));
  --font-size-small: calc(3 * var(--vps));

  --contour-in: 
        calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight),
        calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow),
        0 0 0 calc(1 * var(--vps)) var(--bg-color),
        calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight) inset,
        calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow) inset;

  --contour-out: 
        calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight),
        calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow),
        0 0 0 calc(1 * var(--vps)) var(--bg-color); 
        

  --pointer-cursor: "url('./Icons/Souris2.svg')";
}


body.resizing {
  cursor: none !important; /* Masque le curseur du navigateur */
}


/* Styles pour les liens */
a {
  color: var(--link-color);
}

.language-options {
  z-index: 1000;
}

.language-dropdown {
  z-index: 999;
}


/* Suppression de la barre de défilement pour les navigateurs Webkit */
::-webkit-scrollbar {
  display: none;
}

/* Configuration générale de html et body */
html,
body {
  height: 100%;
  width: 100%;
  background: #6A7D8C;
  -ms-overflow-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Centrage du contenu dans le body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="url"],
textarea {
    /* Supprimer les bordures et ombres */
    border: none;
    outline: none;
    box-shadow: none;

    /* Supprimer les marges et paddings */
    margin: 0;
    padding: 0;

    /* Supprimer les apparences par défaut (important pour certains navigateurs) */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Autres réinitialisations de style que vous pourriez vouloir ajouter... */
    background-color: transparent;
    font-size: 16px;
}

/* Supprimer l'ombre intérieure dans WebKit */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* Supprimer les styles pour les inputs de type "button" ou "submit" */
input[type="button"],
input[type="submit"] {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
