* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: none;
}

:root {
  --virtual-pixel-size: 0.3vw;
}


::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #e4e4e4;
  -ms-overflow-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.windows {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.window {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background: white;
  z-index: 20;
}

.window.active {
  z-index: 30;
}

.window-header {
  background: lightgray;
  padding: 5px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.window-content {
  padding: 5px;
}

button {
  border: none;
  padding: 2px 5px;
  cursor: pointer;
}

button:hover {
  background: gray;
}

.minimized-windows {
  display: flex;
  /* Rest of your styles */
}

.window.maximized {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
}

.app-windows {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hidden {
  display: none;
}

.calculator-template {
  display: none;
}

#folder-window-template {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  /* Ajoutez plus de styles ici pour personnaliser l'apparence de la fenêtre */
}