/* Réinitialisation générale des styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: none;
}

/* Variables CSS globales pour la personnalisation des thèmes et des tailles */
:root {
  --virtual-pixel-size: 0.4vh;
  --bg-color: rgb(0, 0, 0);
  --bg-color-hover: rgb(214, 214, 214);
  --text-color: white;
  --link-color: rgb(255, 255, 255);
  --border-color: #fff;
  --border-color-int: #c3c3c3;
  --font-size-large: calc(6 * var(--virtual-pixel-size));
  --font-size-medium: calc(4 * var(--virtual-pixel-size));
  --font-size-small: calc(2 * var(--virtual-pixel-size));
}

/* Styles pour les liens */
a {
  color: var(--link-color);
}

.language-options {
  z-index: 1000;
}

.language-dropdown {
  z-index: 999;
}


/* Suppression de la barre de défilement pour les navigateurs Webkit */
::-webkit-scrollbar {
  display: none;
}

/* Configuration générale de html et body */
html,
body {
  height: 100%;
  width: 100%;
  background: #e4e4e4;
  -ms-overflow-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Centrage du contenu dans le body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}