/*====================
    WINDOW STYLES 
=====================*/

.window {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: fit-content;
    height: fit-content;
    min-width: calc(50 * var(--vps));
    min-height: calc(50 * var(--vps));
    z-index: 15;
    border: var(--vps) solid var(--bg-color);
    font-family: 'VT323', monospace;
    background-color: var(--bg-color);
    color: white;
    box-shadow:
        calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight),
        calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow),
        0 0 0 calc(1 * var(--vps)) var(--bg-color);
}

.window-header {
    flex: 0 0 auto;
    background: var(--gradient);
    padding: calc(2 * var(--vps));
    padding-top: var(--vps);
    padding-bottom: var(--vps);
    cursor: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

.window-content {
    box-shadow:
        calc(-0.5 * var(--vps)) calc(-0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--highlight) inset,
        calc(0.5 * var(--vps)) calc(0.5 * var(--vps)) 0 calc(0.5 * var(--vps)) var(--shadow) inset;
    flex: 1 1 auto;
    overflow: auto;
    padding: var(--vps);
    margin-top: var(--vps);
}


.window-controls {
    display: flex;
    gap: calc(2 * var(--vps));
    cursor: none;
}

.window-title {
    font-size: var(--font-size-large);
}




/*====================
    WINDOW HEADER BUTTONS STYLES 
=====================*/

.window-header button {
    width: calc(5 * var(--vps));
    height: calc(5 * var(--vps));
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.close {
    color: rgb(255, 255, 255);
    margin-left: auto;
    background: url('./Icons/close.png') var(--bg-color);
    color: white;
    border: none;
    cursor: none;
    box-shadow:
        calc(-0.25 * var(--vps)) calc(-0.25 * var(--vps)) 0 calc(0.25 * var(--vps)) var(--highlight),
        calc(0.25 * var(--vps)) calc(0.25 * var(--vps)) 0 calc(0.25 * var(--vps)) var(--shadow),
        0 0 0 calc(0.5 * var(--vps)) var(--bg-color);
    transition: all .1s ease-in-out;
    cursor: pointer;
    --custom-cursor: var(--pointer-cursor);
}

.minimize {
    color: rgb(255, 255, 255);
    margin-left: auto;
    background: url('./Icons/minimize.png') var(--bg-color);
    color: white;
    border: none;
    cursor: none;
    box-shadow:
        calc(-0.25 * var(--vps)) calc(-0.25 * var(--vps)) 0 calc(0.25 * var(--vps)) var(--highlight),
        calc(0.25 * var(--vps)) calc(0.25 * var(--vps)) 0 calc(0.25 * var(--vps)) var(--shadow),
        0 0 0 calc(0.5 * var(--vps)) var(--bg-color);
    transition: all .1s ease-in-out;
    cursor: pointer;
    --custom-cursor: var(--pointer-cursor);
}

.maximize {
    color: rgb(255, 255, 255);
    margin-left: auto;
    background: url('./Icons/maximize.png') var(--bg-color);
    color: white;
    border: none;
    cursor: none;
    box-shadow:
        calc(-0.25 * var(--vps)) calc(-0.25 * var(--vps)) 0 calc(0.25 * var(--vps)) var(--highlight),
        calc(0.25 * var(--vps)) calc(0.25 * var(--vps)) 0 calc(0.25 * var(--vps)) var(--shadow),
        0 0 0 calc(0.5 * var(--vps)) var(--bg-color);
    transition: all .1s ease-in-out;
    cursor: pointer;
    --custom-cursor: var(--pointer-cursor);
}

.close:hover {
    background-color: var(--bg-color-hover);
    background-blend-mode: multiply;
    cursor: none;
}

.minimize:hover,
.maximize:hover {
    background-color: var(--bg-color-hover);
    background-blend-mode: multiply;
    cursor: none;
}

.minimize:active,
.maximize:active {
    box-shadow: none;
    cursor: none;
}

.close:active {
    box-shadow: none;
    cursor: none;
}

























#windowB {
    position: absolute;
    width: fit-content;
    max-width: 80%;
    z-index: 6;
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    animation: fadeIn 0.1s 0.1s forwards;
}

#windowC {

    display: inline-block;
    width: fit-content;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes windowFade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.window-bottom {
    height: 0;
}

#folder-window-template {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
}

.windows {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
}










.minimized-windows {
    display: flex;
}

.window.maximized {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.app-windows {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hidden {
    display: none;
}

/*=== TITLE AND SUBTITLE STYLES ===*/

.titleA,
.subtitleA {
    line-height: 1em;
    color: var(--text-color);
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid white;
    width: 100%;
    max-width: 0;
    cursor: none;
}

.titleA {
    animation: typing 0.5s steps(11, end), blink .75s step-start;
    animation-fill-mode: forwards;
}

.subtitleA {
    animation: typing 0.5s steps(10, end) 1s, blink .75s step-start infinite;
    animation-fill-mode: forwards;
    cursor: none;
}

@keyframes typing {
    0% {
        max-width: 0;
        border-right: .15em solid white;
    }

    100% {
        max-width: 100%;
        border-right: .15em solid transparent;
    }
}

@keyframes blink {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

.titleB,
.subtitleB {
    line-height: 1em;
    color: var(--text-color);
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    border-right: none;
    animation: none;
    cursor: none;
}

/*=== CONSTRUCTION CONTAINER STYLES ===*/

#construction-container {
    position: relative;
    z-index: 2;
    text-align: center;
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

.text-center {
    font-size: 1em;
    line-height: 1.3em;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.1em;
    z-index: 2;
}


.my-image {
    width: 10vw;
    height: auto;
}